{% extends 'nxtodoapp/nxtodoapp_base.html' %}
{% load static %}
{% load extends1 %}


{% block filters %}
    <h4 class="filters-header">Filters</h4>
    <form action="{% url 'tasks_filter' %}" class="entity-filters" method="post" id="task_filter">
        {% csrf_token %}
        {% for field in filters_form %}
            {% if field.name != 'description' %}
                <label>{{ field.name|title }}:</label>
                <p>
                    {{ field }}<br>
                </p>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn">Show</button>
    </form>
{% endblock %}
{% block appcontent_nav %}
    <div class="selected col-lg-3">
        <a class="entity-link" href="{% url 'tasks' %}">
            Tasks
        </a>
    </div>
    <div class="col-lg-3">
        <a class="entity-link" href="{% url 'events' %}">
            Events
        </a>
    </div>
    <div class="col-lg-3">
        <a class="entity-link" href="{% url 'plans' %}">
            Plans
        </a>
    </div>
    <div class="col-lg-3">
        <a class="entity-link" href="{% url 'reminders' %}">
            Reminders
        </a>
    </div>
{% endblock %}
{% block appcontent_list %}
    {% if tasks %}
        {% for task in tasks %}
            <div class="entity-container">
                <span class="glyphicon glyphicon-asterisk {% if task.status == 'inprocess' %}blue-star{% endif %}
                                                {% if task.status == 'fulfilled' %}green-star{% endif %}"></span>
                <a href="{% url 'task_details' id=task.id %}">{{ task.title }}</a>
                <a href="{% url 'task_complete' id=task.id %}">
                    <span class="entity-icon glyphicon glyphicon-ok"></span>
                </a>
                <a href="{% url 'task_remove' id=task.id %}">
                    <span class="entity-icon glyphicon glyphicon-remove"></span>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-gray">There is no tasks available.</p>
    {% endif %}

{% endblock %}
{% block appcontent_footer %}
    <div class="footer_left col-lg-2"></div>
    <div class="footer_msg col-lg-8">
        {% for message in messages %}
            <p>
                {{ message }}
            </p>
        {% endfor %}
    </div>
    <div class="footer_right col-lg-2">
        <a href="{% url 'task_add' %}">
            <img class="img-add" src="{% static 'nxtodoapp/img/add.png' %}">
        </a>
    </div>
{% endblock %}
{% block notice_board %}
    <p>I can write html for hotifications here</p>
    {% show_datetime %}
{% endblock %}
