{% extends 'accounts/accounts_base.html' %}


{% block logout %}
<h3>Create a new account</h3>
<form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}
        {{ field }}<br>
        {% for error in field.errors %}
        <small class="text-danger">{{ error }}</small>
        <br>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Sign up</button>
</form>
{% endblock %}
