.accounts_bg {
    background-image: url("img/man.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -999;
    background-size: cover;
    opacity: 0.9;
}

.accounts_content {
    margin-left: 35%;
}

.signup_pos {
    text-align: center;
    margin-top: 5%;
}

.input {
padding: 5px;
box-sizing: border-box;
border: 2px solid #e9eaea;
color: #3e3e40;
font-size: 14px;
outline: none;
}

body {
    color: #777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative;
}

.banner-area {
    margin-top: 10%;
    background: #fff;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15%;
    padding-left: 15%;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.logo_home {
    vertical-align: middle;
    border-style: none;
    width: 70%;
}

.story-content h6 {
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.story-content h1 {
    font-size: 43px;
    font-weight: 100;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: 0;
}

.story-content .sp-1 {
    font-weight: 600;
}

.story-content .sp-2 {
    color: #1fc8de;
    font-weight: 600;
}

.genric-btn.primary:hover {
    color: #1fc8de;
    border: 1px solid #1fc8de;
    background: #fff;
}

.genric-btn.primary {
    color: #fff;
    background: #1fc8de;
    border: 1px solid transparent;
}

.genric-btn.circle {
    border-radius: 20px;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #777;
}

.genric-btn {
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.btn {
    margin-top: 3%;
    border: none;
    width: 100px;
    color: white;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background-color: #0009;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.14286em;
}

span a {
    text-decoration: none;
    color: #000;
}
