{% extends 'nxtodoapp/reminder/reminders.html' %}
{% load filters %}


{% block appcontent_list %}
    <div class="task">
        <h5 class="title">Reminder details</h5>
        <ul>
            <li class="justify-content-between align-items-center d-flex"><h6>Start remind for:</h6>
                <span>{{ reminder.start_remind_before|handle_blank }}</span></li>
            <li class="justify-content-between align-items-center d-flex"><h6>Start remind from:</h6>
                <span>{{ reminder.start_remind_from|handle_blank }}</span></li>
            <li class="justify-content-between align-items-center d-flex"><h6>Remind before:</h6>
                <span>{{ reminder.stop_remind_in|handle_blank }}</span></li>
            <li class="justify-content-between align-items-center d-flex"><h6>Remind in:</h6>
                <span>{{ reminder.remind_in|handle_blank }}</span></li>
            <li class="justify-content-between align-items-center d-flex"><h6>Interval:</h6>
                <span>{{ reminder.interval|handle_blank }}</span></li>
            <li class="justify-content-between align-items-center d-flex"><h6>Weekdays:</h6>
                <span>{{ reminder.weekdays|handle_blank }}</span></li>
            <li class="justify-content-between align-items-center d-flex"><h6>Description:</h6>
                <span>{{ reminder.description|handle_blank }}</span></li>

        </ul>
    </div>

    <div class="subtasks-container">
        <label>Datetimes</label><br>
        <div class="subtask_form">
            <form action="{% url 'reminders:adddatetime' id=reminder.id %}" method="post">
                {% csrf_token %}
                {% for field in datetime_form %}
                    <p>
                        {{ field }}<br>
                        {% for error in field.errors %}
                            <span class="field-error">{{ error }}</span>
                        {% endfor %}
                    </p>
                {% endfor %}
                <button class="details-submit" type="submit">
                    <span class="glyphicon glyphicon-paperclip"></span>
                </button>
            </form>
        </div>

        {% if reminder.datetimes %}
            {% for datetime in reminder.datetimes %}
                <div class="entity-container">
                    <a>{{ datetime }}</a>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-gray">There is no datetimes yet.</p>
        {% endif %}
    </div>

{% endblock %}
{% block appcontent_footer %}
    <div class="footer_left col-lg-2">
        <a href="{% url 'reminders:all' %}">
            <span class="btn-cancel glyphicon glyphicon-chevron-left"></span>
        </a>
    </div>
    <div class="footer_msg col-lg-8">
        {% for message in messages %}
            <p>
                {{ message }}
            </p>
        {% endfor %}
    </div>
    <div class="footer_right col-lg-2">
        <a href="{% url 'reminders:edit' id=reminder.id %}">
            <button class="btn">Edit</button>
        </a>
    </div>
{% endblock %}